
<div id="sidebar-collapse" class="col-sm-3 col-lg-2 sidebar">

    <form role="search" action="/admin/search">
        <div class="form-group">
            <input type="text" class="form-control" placeholder="Search" name="keyword">
        </div>
    </form>
    <div class="sidenav">
        <a href="/admin/dashboard"><svg class="glyph stroked dashboard-dial">
                <use xlink:href="#stroked-dashboard-dial"></use>
            </svg>Dashboard</a>
        <button class="dropdown-btn"><svg class="glyph stroked home">
                <use xlink:href="#stroked-home" />
            </svg>Thông tin trang
            <i class="fa fa-caret-down"></i>
        </button> 
        <div class="dropdown-container">
            <a href="/admin/thong-tin-trang">Thông tin trang </a>
            <a href="/admin/gioi-thieu-trang">Giới thiệu trang</a>
        </div>

        <button class="dropdown-btn"><svg class="glyph stroked app-window">
                <use xlink:href="#stroked-app-window"></use>
            </svg>Menu danh mục sản phẩm
            <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-container">
            <a href="/admin/danh-muc-san-pham">Danh sách menu nhóm danh mục </a>
            <a href="/admin/add-danh-muc-san-pham">Thêm mới menu nhóm danh mục </a>
        </div>

        <button class="dropdown-btn"><svg class="glyph stroked calendar">
                <use xlink:href="#stroked-calendar" />
            </svg>Menu sản phẩm
            <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-container">
            <a href="/admin/nhom-san-pham">Danh sách menu sản phẩm </a>
            <a href="/admin/add-nhom-san-pham">Thêm mới menu sản phẩm</a>
        </div>

        <button class="dropdown-btn"><svg class="glyph stroked bag">
                <use xlink:href="#stroked-bag"></use>
            </svg>Danh sách sản phẩm
            <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-container">
            <a href="/admin/danh-sach-san-pham">Danh sách sản phẩm </a>
            <a href="/admin/add-san-pham">Thêm mới sản phẩm</a>
        </div>

        <button class="dropdown-btn"><svg class="glyph stroked chain"><use xlink:href="#stroked-chain"></use></svg>Danh sách video
            <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-container">
            <a href="/admin/danh-sach-video">Danh sách video </a>
            <a href="/admin/add-video">Thêm mới video</a>
        </div>

        <button class="dropdown-btn"><svg class="glyph stroked empty message">
                <use xlink:href="#stroked-empty-message" />
            </svg>Menu Tin tức
            <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-container">
            <a href="/admin/danh-sach-menu-tin-tuc">Danh sách Menu Tin tức </a>
            <a href="/admin/add-menu-tin-tuc">Thêm mới Menu Tin tức</a>
            <a href="/admin/danh-sach-bai-viet-tin-tuc">Danh sách bài viết </a>
            <a href="/admin/add-bai-viet-tin-tuc">Thêm mới bài viết </a>
        </div>

        <button class="dropdown-btn"><svg class="glyph stroked female user">
                <use xlink:href="#stroked-female-user" />
            </svg>Menu Dịch vụ
            <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-container">
            <a href="/admin/add-menu-dich-vu">Thêm mới menu dịch vụ</a>
            <a href="/admin/menu-dich-vu">Danh sách menu dịch vụ </a>
            <a href="/admin/add-bai-viet-dich-vu">Thêm mới bài viết</a>
            <a href="/admin/bai-viet-dich-vu">Danh sách bài viết </a>
        </div>

        <button class="dropdown-btn"><svg class="glyph stroked two messages">
                <use xlink:href="#stroked-two-messages" />
            </svg> Yêu cầu tư vấn
            <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-container">
            <a href="/admin/danh-sach-yeu-cau-tu-van">Danh sách yêu cầu tư vấn</a>
        </div>

        <button class="dropdown-btn"><svg class="glyph stroked two messages">
                <use xlink:href="#stroked-two-messages" />
            </svg> Chia sẻ khách hàng
            <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-container">
            <a href="/admin/add-chia-se-khach-hang">Thêm mới chia sẻ</a>
            <a href="/admin/chia-se-khach-hang">Danh sách chia sẻ</a>
        </div>
      
        <button class="dropdown-btn"><svg class="glyph stroked two messages">
                <use xlink:href="#stroked-two-messages" />
            </svg> Thước lỗ ban
            <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-container">
            <a href="/admin/thuoc-lo-ban">Thước lỗ ban</a>
        </div>


      <button class="dropdown-btn" style="padding: 0;">
        <a href="/admin/danh-sach-anh">
      
            <svg class="glyph stroked camera "><use xlink:href="#stroked-camera"/></svg>Album ảnh
            <i class="fa fa-caret-down"></i></a>
        </button>

    </div>

</div><!--/.sidebar-->