
<%- include("../layout/head", {title: "Admin thêm mới chia sẻ khách hàng"})%>
<%- include("../layout/header")%>
<%- include("../layout/siderbar")%>




    <div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">
        <div class="row">
            <ol class="breadcrumb">
                <li><a href="/admin/dashboard"><svg class="glyph stroked home">
                            <use xlink:href="#stroked-home"></use>
                        </svg></a></li>
                <li><a href="/admin/chia-se-khach-hang">Chia sẻ khách hàng</a></li>
                <li>Thêm mới chia sẻ</li>
            </ol>
        </div><!--/.row-->
 
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Thêm mới chia sẻ khách hàng</h1>
            </div>
        </div><!--/.row-->
        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="col-md-6">
                            <form role="form" method="post" enctype="multipart/form-data" action="/admin/upload-chia-se-khach-hang">
                                <div class="form-group">
                                    <label>Tên khách hàng</label>
                                    <input required name="name" type="text" class="form-control" placeholder="Tên khách hàng...">
                                </div>

                                <div class="form-group">
                                    <label>Ảnh đại diện KH</label>
                                    <input name="images" type="file" required>
                                    <br>
                                </div>
                        </div>
                        <div class="col-md-6">


                            <div class="form-group">
                                <label>Mô tả chia sẻ</label>
                                <textarea required value=" " id="content" name="content" class="form-control"  rows="3"> </textarea>
                                <script>
                                    CKEDITOR.replace('content',{
                                            extraPlugins:'filebrowser',
                                            filebrowserBrowseUrl:'/list',//upload location
                                            filebrowserUploadMethod:'form',
                                            filebrowserUploadUrl:'/upload'//route
                                        })
                                </script>
                            </div>


                            <button name="sbm" type="submit" class="btn btn-success">Thêm mới</button>
                            <button type="reset" class="btn btn-default">Làm mới</button>
                        </div>
                        </form>
                    </div>
                </div>
            </div><!-- /.col-->
        </div><!-- /.row -->

    </div> <!--/.main-->

    <script src="js/jquery-1.11.1.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/bootstrap-table.js"></script>

    <%- include("../layout/footer")%>