<%- include("./layouts/head.ejs")%>
<title>success</title>
<%- include("./layouts/header.ejs")%>

            <!-- body -->
            <div id="body">
                <div class="container" style="	margin-top: 10%;">

                        <!--	Order Success	-->
                        <div id="order-success">
                            <div class="row" style="margin-top: 30px;">
                                <div id="order-success-txt" class="col-lg-12 col-md-12 col-sm-12 col-12" style="text-align: center;">
                                    <h3>Bạn đã gửi yêu cầu thành công !</h3>
                                    <p>Vui lòng chờ chúng tôi gọi lại xác nhận trong vòng 24h.</p>
                                </div>
                            </div>
                        </div>
                        <!--	End Order Success	-->




                </div>
            </div>


            </div>
            <!-- end body -->

            <%- include("./layouts/footer.ejs")%>

 